public static void main(String[] args) {
        for (int a = 0; a <= 100; a++) {
            if (a % 3 == 0 || a % 5 == 0) {

                if (a % 3 == 0) {
                    System.out.print("Fizz");
                }

                if (a % 5 == 0) {
                    System.out.print("Buzz");
                }

                System.out.println();
                continue;
            } else {
                System.out.println(a);
            }
        }
